h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

h2{
    text-align: center;
}

.parent{
    background-color: blue;
    padding: 10px;
    width: 320px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

div{
    background-color: gainsboro;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

div:hover{
    background-color: yellow;
}


.display{
    grid-column: span 4;
    background-color: white;
    text-align: right;
    font-size: 24px;
}


